In [1]:
##imports 
import pandas as pd 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNet
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pickle

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
df = pd.read_csv(url, sep=';')
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [49]:
## pre processamento
mms = MinMaxScaler()
df['free sulfur dioxide'] = np.log1p(df['free sulfur dioxide'])
df['free sulfur dioxide'] = mms.fit_transform(df[['free sulfur dioxide']])
pickle.dump(mms, open('free_sulfur_scaler.pkl', 'wb'))


df['total sulfur dioxide'] = np.log1p(df['total sulfur dioxide'])
df['total sulfur dioxide'] = mms.fit_transform(df[['total sulfur dioxide']])
pickle.dump(mms, open('total_sulfur_scaler.pkl', 'wb'))

In [50]:
### dividindo em treino e teste
x = dados.drop(columns=['quality'])
y = dados['quality']
## train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=123, stratify=y)
x_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
331,10.2,0.36,0.64,2.9,0.122,0.473895,0.481142,0.99800,3.23,0.66,12.5
842,10.6,0.50,0.45,2.6,0.119,0.795650,0.614451,0.99708,3.23,0.72,10.9
553,5.0,1.04,0.24,1.6,0.050,0.779293,0.705913,0.99340,3.74,0.62,11.5
534,10.0,0.48,0.24,2.7,0.102,0.540934,0.416383,1.00000,3.28,0.56,10.0
1186,6.6,0.80,0.03,7.8,0.079,0.348250,0.166231,0.99630,3.52,0.50,12.2
...,...,...,...,...,...,...,...,...,...,...,...
1330,7.4,0.60,0.26,2.1,0.083,0.610796,0.691702,0.99616,3.29,0.56,9.8
1179,8.2,0.35,0.33,2.4,0.076,0.498083,0.516999,0.99599,3.27,0.81,11.0
448,8.6,0.53,0.22,2.0,0.100,0.385369,0.372262,0.99670,3.20,0.56,10.2
1343,7.5,0.51,0.02,1.7,0.084,0.540934,0.408120,0.99538,3.36,0.54,10.5
912,10.0,0.46,0.44,2.9,0.065,0.254715,0.067486,0.99674,3.33,0.62,12.2

In [51]:
## criando o modelo
modelo = ElasticNet(alpha=0.5, l1_ratio=0.5, random_state=42)
modelo.fit(x_train, y_train)
pred = modelo.predict(x_test)

In [52]:
rmse = np.sqrt(mean_squared_error(y_test, pred))
mae = mean_absolute_error(y_test, pred)
r2 = r2_score(y_test, pred)
print(f'mae: {mae.round(4)}, rmse:{rmse.round(4)}, r2:{r2.round(4)}')

mae: 0.6344, rmse:0.7566, r2:0.1178

In [53]:
## salvando o modelo
pickle.dump(modelo, open('modelo.pkl', 'wb'))

In [7]:
oi = [{"a": 0, 'b': "h"}, {"a": 2, 'b': "h"}]

In [8]:
pd.DataFrame(oi)

   a  b
0  0  h
1  2  h

In [9]:
data = df.drop(columns=['quality']).sample(n=1)

In [4]:
import requests
data = df.drop(columns=['quality']).sample(n=1).to_json(orient='records')
header = {'content-type': 'application/json'}

## criando o autenticador 
auth = requests.auth.HTTPBasicAuth(username='jp', password='1234')

requests.post(url = 'http://192.168.1.4:5000/predict',
             data=data , headers=header, auth=auth).json()

[{'fixed acidity': 6.8,
  'volatile acidity': 0.48,
  'citric acid': 0.08,
  'residual sugar': 1.8,
  'chlorides': 0.074,
  'free sulfur dioxide': 10.9267280603,
  'total sulfur dioxide': 16.6634202087,
  'density': 0.99529,
  'pH': 3.12,
  'sulphates': 0.49,
  'alcohol': 9.6,
  'prediction': 5.5320554486}]

In [54]:
## Criando a classe do data preparation
class WineQuality(object):
    def __init__(self):
        self.free_sulfur_scaler = pickle.load(open('free_sulfur_scaler.pkl', 'rb'))
        self.total_sulfur_scaler = pickle.load(open('total_sulfur_scaler.pkl', 'rb'))
    
    def data_preparation(self, df):
        ## reescalando o sulfur 
        df['free sulfur dioxide'] = self.free_sulfur_scaler.transform(df[['free sulfur dioxide']])
        df['total sulfur dioxide'] = self.total_sulfur_scaler.transform(df[['total sulfur dioxide']])

        return df

In [58]:
classe = WineQuality()
classe.data_preparation(df)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,2.865154,8.607503,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,6.756948,17.469012,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,3.977095,13.978114,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,4.533066,15.589298,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,2.865154,8.607503,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,8.702846,11.292809,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,10.648743,13.172523,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,7.868890,10.218686,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,8.702846,11.292809,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,4.811051,10.755748,0.99549,3.39,0.66,11.0,6

In [14]:
teste = pd.DataFrame({'oi': [12, 34], 'b': [34, 12]})
teste

   oi   b
0  12  34
1  34  12

'[{"oi":12,"b":34},{"oi":34,"b":12}]'